- name: Check if doppler is installed
  stat:
    path: "/usr/bin/doppler"
  register: "doppler_binary"

- name: Update cache
  when: "not doppler_binary.stat.exists"
  apt:
    cache_valid_time: 86400 # once per day
    update_cache: true

- name: Install utilities
  when: "not doppler_binary.stat.exists"
  package:
    name: [curl, apt-transport-https, ca-certificates, gnupg]
    state: present

- name: Install apt key for doppler
  when: "not doppler_binary.stat.exists"
  apt_key:
    url: "https://packages.doppler.com/public/cli/gpg.DE2A7741A397C129.key"
    keyring: "/usr/share/keyrings/doppler-archive-keyring.gpg"

- name: Add apt repository for doppler cli
  when: "not doppler_binary.stat.exists"
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/doppler-archive-keyring.gpg] https://packages.doppler.com/public/cli/deb/debian any-version main"
    state: present

- name: Install doppler cli
  when: "not doppler_binary.stat.exists"
  apt:
    name: "doppler"
    update_cache: true
