---
- hosts: localhost
  connection: local
  become: true
  environment:
    PRESERVED_USER: "{{ lookup('ansible.builtin.env', 'USER') }}"

  # vars:
  #   user_attributes: &user_attributes
  #     owner: "{{ user.name }}"
  #     group: "{{ user.name }}"

  tasks:
    # --- variables
    #
    - include_vars: ./vars/user.yml
    - include_vars: ./vars/debian.yml
    - include_vars: ./vars/workstations.yml
    - include_vars: ./vars/scripts.yml

    # --- tasks
    #
    - include_tasks: ./tasks/debian.yml
    - include_tasks: ./tasks/fonts.yml
    - include_tasks: ./tasks/gnome.yml
